{% set mice = node.field_evento_mice.0.value == '1' %}

{% if mice %}
<div class="events__body">
  <main class="events-main">
    <section class="events__successful" id="eventsSuccesful">
      <div class="events__successful-header">
        <h1>{{ node.getTitle() }}</h1>
        {{ content.body }}
      </div>
      <div class="events__successful-details">
        <div class="details__recommended">
          <p>Recomendado para:</p>
          <div class="events__filters details">
            {% for term in node.field_turpara %}
            <button type="button">{{ term.entity.name.value }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="details__program">
          <p>Programate:</p>
          <div class="event-card__meta">
            <span class="event-card__meta-item">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path
                  d="M6.75 3a.75.75 0 0 0 0 1.5H7.5V6h-3A2.25 2.25 0 0 0 2.25 8.25v10.5A2.25 2.25 0 0 0 4.5 21h15a2.25 2.25 0 0 0 2.25-2.25V8.25A2.25 2.25 0 0 0 19.5 6h-3V4.5h.75a.75.75 0 0 0 0-1.5h-3a.75.75 0 0 0 0 1.5h.75V6h-6V4.5h.75a.75.75 0 0 0 0-1.5h-3Zm-1.5 6.75A.75.75 0 0 1 6 9h12a.75.75 0 0 1 .75.75v8.25c0 .414-.336.75-.75.75H6a.75.75 0 0 1-.75-.75Z" />
              </svg>
              {% set meses = {
              'Jan': 'Ene', 'Feb': 'Feb', 'Mar': 'Mar',
              'Apr': 'Abr', 'May': 'May', 'Jun': 'Jun',
              'Jul': 'Jul', 'Aug': 'Ago', 'Sep': 'Sept',
              'Oct': 'Oct', 'Nov': 'Nov', 'Dec': 'Dic'
              } %}

              {% set raw_inicio = node.field_fecha_de_inicio.0.value %}
              {% set raw_fin = node.field_fecha_de_finalizacion.0.value %}

              {% set mes_en = raw_inicio|date('M') %}
              {% set mes_es = meses[mes_en] %}
              {% set dia_inicio = raw_inicio|date('j') %}
              {% set dia_fin = raw_fin|date('j') %}

              <span>{{ mes_es }} {{ dia_inicio }} - {{ dia_fin }}</span>

            </span>
            <span class="event-card__meta-item">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
              </svg>
              {{ node.field_lugar_del_evento.0.value }}
            </span>
          </div>
        </div>
      </div>
      <div class="events__successful-media">
        {% for item in node.field_picgallery %}
        {% set url = file_url(item.entity.uri.value) %}
        <img src="{{ url }}" alt="">
        {% endfor %}

      </div>
      {# <div class="events__succesful-text">
        {% if node.field_incluir_disclaimer.0.value %}
        <p>
          DISCLAIMER
        </p>
        {% endif %}
      </div> #}
    </section>
  </main>
</div>
{% else %}
<div class="intern_event">
  <main>
    <div class="container">

      <div class="info">
        <div class="image">
          <img src="{{file_url(node.field_fotos.0.entity.uri.value)}}" alt="obra">
        </div>
        <div class="text">

          <h1> {{ node.getTitle() }}</h1>
          <small>{{ node.field_lugar_del_evento.0.value }}</small>
          {{ content.body }}
          
          <div class="contact">
          </div>
          <div class="buttons">
            {% if content.field_weblink.0['#title'] is not empty %}
            <a href="{{content.field_weblink.0['#title']}}" class="btn">Más información</a>
            {% endif %}
            {% if content.field_link_a_boleteria.0['#title'] is not empty %}
            <a href="{{content.field_link_a_boleteria.0['#title']}}" class="btn">Boletería</a>
            {% endif %}
          </div>
          
        </div>
      </div>

    </div>
    {% set has_items = false %}
    {% for item in casos_de_exito %}
      {% if item.id != node.nid.value %}
        {% set has_items = true %}
      {% endif %}
    {% endfor %}
   {% if has_items %}
<div class="lugares">
  <h4>
    Otros casos de éxito que te pueden interesar
  </h4>

  <ul>
    {% set count = 0 %}

    {% for item in casos_de_exito|shuffle %}
      {% if item.id != node.nid.value and count < 4 %}

        <li>
          <a href="{{ item.url }}">
            <img src="{{ item.field_fotos.0 }}" alt="{{ item.title }}">
            <div class="title">{{ item.title }}</div>
          </a>
        </li>

        {% set count = count + 1 %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
  </main>
</div>
{% endif %}