  {% set meses = { 'Jan': 'Ene', 'Feb': 'Feb',
'Mar': 'Mar', 'Apr': 'Abr', 'May': 'May', 'Jun': 'Jun', 'Jul': 'Jul', 'Aug':
'Ago', 'Sep': 'Sept', 'Oct': 'Oct', 'Nov': 'Nov', 'Dec': 'Dic' } %}

<div class="home">
    <main>
        <div class="banner" id="banner" style="background-image: url(/{{ directory }}/images/visitbogota/banner.png);">
            <video id="videoBase" 
                preload="auto" 
                autoplay 
                loop 
                muted 
                playsinline 
                webkit-playsinline 
                poster="/{{ directory }}/images/visitbogota/banner.png"
            src="{{file_url(node.field_video_principal.entity.fileuri)}}" >
            <source src="{{file_url(node.field_video_principal.entity.fileuri)}}" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
            </video>
            {% if node.fields.field_video_campana.0.value is not empty %}
            <video id="videoCampaign" src="{{node.fields.field_video_campana.0.value}}" muted></video>
            {% endif %}
            <div class="banner-main-cta">
                <a href="{{node.fields.field_link_cta_banner.0.value}}" class="btn-primary-cta">
                   {{node.fields.field_texto_cta_banner.0.value}}
                </a>
            </div>
            {% if node.fields.field_video_campana.0.value is not empty %}
            <button type="button" id="playcampaign">
                <div class="campaign" id="campaign">
                    <img src="/{{ directory }}/images/visitbogota/playcampaign.png" alt="play" class="play">
                    <img src="{{node.fields.field_imagen_campana.0.value}}" alt="campaign" id="campaignImage">
                </div>
            </button>
            {% endif %}
        </div>
        {% include "@visit_theme/includes/planifica.html.twig" %}
        <div class="que-hacer">
            <div class="container">
                <h3>{{"ui.what_to_do_in_bogota"|trans}}</h3>
                <h4>{{"ui.explore_all_experiences"|trans}}</h4>
                <ul class="grid-categories">
                    {% for item in taxonomy('categorias_turisticas') %}
                    <li data-aos="zoom-in" data-aos-delay="300">
                        <a href="{{item.url}}" style="background-image: url({{item.image}});">
                            <span class="title">{{ item.name }}</span>
                            <small>Explora más <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </small>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        {% if eventosVisit is not empty %}
        <div class="eventos" data-aos="fade-right">
            <h4>
                {{ "ui.events_in_bogota"|trans({
                '@category': date()|date('U')|format_date('custom', 'F')|capitalize
                }) }}
            </h4>


            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list grid-events ">
                        {% for item in eventosVisit |shuffle %}
                          {# Pre-calculamos fechas para evitar repetición #}
                        {% set fecha_inicio_raw = item.field_fecha_de_inicio|date("Y-m-d") %}
                        {% set fecha_fin_raw = item.field_fecha_de_finalizacion|date("Y-m-d") %}

                        {# Formateo de meses traducidos para la visualización #}
                        {% set mes_ini = item.field_fecha_de_inicio|date("M") %}
                        {% set mes_fin = item.field_fecha_de_finalizacion|date("M") %}

                        {# Solo traducimos si el sitio está en español #}
                        {% set display_inicio = (meses[mes_ini] is defined) ? meses[mes_ini] ~
                        item.field_fecha_de_inicio|date(" d") : item.field_fecha_de_inicio|date("M d") %}
                        
                        {% set display_fin = (meses[mes_fin] is defined) ? meses[mes_fin] ~
                        item.field_fecha_de_finalizacion|date(" d") : item.field_fecha_de_finalizacion|date("M d") %}
                        <li class="splide__slide">
                            <a href="{{item.url}}">
                            <img src="{{item.image}}" alt="{{item.title}}" class="event-image">
                            <div class="event-info">
                                <span class="title"> {{item.title}}</span>
                                <div class="date"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.33333 1.33325V3.99992M10.6667 1.33325V3.99992M14 9.33325V3.99992C14 3.6463 13.8595 3.30716 13.6095 3.05711C13.3594 2.80706 13.0203 2.66659 12.6667 2.66659H3.33333C2.97971 2.66659 2.64057 2.80706 2.39052 3.05711C2.14048 3.30716 2 3.6463 2 3.99992V13.3333C2 13.6869 2.14048 14.026 2.39052 14.2761C2.64057 14.5261 2.97971 14.6666 3.33333 14.6666H8.66667M2 6.66658H14M10.6667 13.3333L12 14.6666L14.6667 11.9999"
                                            stroke="#000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    {{ display_inicio }}{% if fecha_inicio_raw != fecha_fin_raw %} - {{ display_fin
                                        }}{% endif %}
                                </div>
                                <div class="place"><svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6667 6.33333C11.6667 9.662 7.974 13.1287 6.734 14.1993C6.61848 14.2862 6.47787 14.3332 6.33333 14.3332C6.1888 14.3332 6.04818 14.2862 5.93267 14.1993C4.69267 13.1287 1 9.662 1 6.33333C1 4.91885 1.5619 3.56229 2.5621 2.5621C3.56229 1.5619 4.91885 1 6.33333 1C7.74782 1 9.10438 1.5619 10.1046 2.5621C11.1048 3.56229 11.6667 4.91885 11.6667 6.33333Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.33333 8.33333C7.4379 8.33333 8.33333 7.4379 8.33333 6.33333C8.33333 5.22876 7.4379 4.33333 6.33333 4.33333C5.22876 4.33333 4.33333 5.22876 4.33333 6.33333C4.33333 7.4379 5.22876 8.33333 6.33333 8.33333Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                                    {{item['field_lugar_del_evento']}}
                                </div>
                            </div>

                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
        {% endif %}
        {% if article is not empty %}
        <div class="blog" data-aos="fade-down">
            <h5>{{"ui.recent_posts"|t}}</h5>
            <ul class="grid-blogs container">
                {% for item in article|slice(0, 6) %}


                <li><a href="{{item.url}}">
                        <div class="image">
                            <img src="{{item.image}}" alt="blog title">
                        </div>
                        <div class="title">
                            {{item.title}}
                        </div>
                        <div class="tag">{{item.categoria.name}}</div>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </main>
</div>
<script>
    const btn = document.getElementById("playcampaign");

    const banner = document.getElementById("banner");
    const videoBase = document.getElementById("videoBase");
    const videoCampaign = document.getElementById("videoCampaign");

    const campaignImage = document.getElementById("campaignImage");

    let active = false;
if(btn){
    btn.addEventListener("click", () => {

        if (!active) {
            // ===== ACTIVAR CAMPAÑA =====

            // Cambiar background
            banner.style.backgroundImage = "url(/{{ directory }}/images/visitbogota/banner.png)";

            // Cambiar imagen (solo SRC)
            campaignImage.src = "/{{ directory }}/images/visitbogota/banner.png";

            // Cambiar videos
            videoBase.pause();
            videoBase.style.display = "none";

            videoCampaign.style.display = "block";
            videoCampaign.currentTime = 0;
            videoCampaign.play();

            active = true;

        } else {
            // ===== VOLVER A NORMAL =====

            // Restaurar background
            banner.style.backgroundImage = "url(/{{ directory }}/images/visitbogota/banner.png)";
            // Restaurar imagen
            campaignImage.src = "/{{ directory }}/images/visitbogota/campaign.png";

            // Restaurar videos
            videoCampaign.pause();
            videoCampaign.style.display = "none";

            videoBase.style.display = "block";
            videoBase.play();

            active = false;
        }

    });

}

    videoBase.play().catch((error) => {
        console.error("Error al reproducir el video base:", error);
    });
</script>