<div class="events__body">
  <main class="events-main">
    <section class="events__page" id="events">
      <div class="events__header">
      <h1>Eventos exitosos en Bogotá</h1>
        <p>¡Desliza y conoce más!</p>
      </div>
      <div class="events__filters">
          <button type="button" data-tid="all">Todos</button>
         {% for item in tipos_de_evento %}
        <button type="button" data-tid="{{item.tid}}">{{ item.name }}</button>
        {% endfor %}
         {% for item in tipos_de_evento_mice %}
        <button type="button" data-tid="{{item.tid}}">{{ item.name }}</button>
        {% endfor %}

      </div>
      <div class="events__grid">
        {% for item in casos_de_exito|reverse %}
        <a
          href="{{ item.url }}"
          class="event-card"
          data-carousel-item
        >
          <div
            class="event-card__media"
            aria-hidden="true"
            style="background-image: url({{item.field_fotos.0}});"
          ></div>
          <div class="event-card__content">
            <span class="event-card__tag">{{ item.categoria.name }}</span>
            <h3>{{ item.title }}</h3>
            <div class="event-card__meta">

            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </main>
</div>

